@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.4 ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

h2.heading {
  z-index: 2;
}
.bg-color1 {
  color: var(--bg-color);
}
.bg-color2 {
  color: var(--second-bg-color);
}
.bg-color3 {
  color: var(--text-color);
}

.heading {
  text-align: center;
  font-size: 4rem;
  position: relative;
}

/*! Header Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus,
.navbar a.active {
  color: var(--main-color);
}

/*! Home Section */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.homeBtn {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  box-shadow: none;
}

.home-img img {
  width: 30vw;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.6rem;
}

/*! About Section */
.about-img img {
  width: 30vw;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  color: var(--text-color);
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-content {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*! Skills.css */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  transform: scale(0.9);
  z-index: 2;
}

.skills-category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  margin-top: 1.5rem;
  gap: 1.5rem;
  align-items: center;
}

.background-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  opacity: 0.3;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* SkillsText.css */
.skills-text-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  padding: 8px 7px;
  /* border: 1px solid #7042f88b; */
  opacity: 0.9;
  display: flex;
  align-items: center;
}

.welcome-text {
  font-size: 13px;
}

.main-text {
  font-size: 30px;
  color: white;
  font-weight: medium;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.sub-text {
  font-size: 20px;
  color: #cccccc;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

/*! Service Section */
.service h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.serviceIcons {
  height: 10rem;
  width: auto;
}

/*! Feature Projects Section */
#featured {
  padding: 2em;
  display: grid;
  grid-template: 1fr / 1fr 1280px 1fr;
  gap: 3em;
  grid-auto-rows: 1fr;
}

.featureWrapper {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  /* gap: 10em; */
}

.h4 {
  grid-row: 1/2;
  grid-column: 1/5;
}

.featured1 {
  display: flex;
  gap: 3em;
  margin-bottom: 10em;
}

.featuredImg img {
  /* width: 38rem;
  height: auto; */
  width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.featuredTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.featuredText {
  font-size: 2rem;
  flex-grow: 1;
}
.featuredProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featureIcons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featureIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.featureIcons img {
  width: auto;
  height: 8rem;
  border-radius: 10px;
}

/*! Blogs Section */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.blog {
  position: relative;
  background-color: var(--second-bg-color);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

.blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}

.blogText {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--main-color);
}

.blogText h4 {
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.blogText h4:hover {
  color: var(--main-color);
}

.blogText p {
  /* color: var(--bg-color); */
  line-height: 2rem;
  padding-bottom: 1rem;
}

.blogTitle {
  font-size: 2rem;
  text-align: center;
}

.blogIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.blogIcons img {
  width: auto;
  height: 40px;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.blogIcons img:hover {
  transform: translateY(-10px);
}

/*! Portfolio Section */
.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--main-color), rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}
.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/*! <!-- Contact Section Design --> */
.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/*! Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

/*! Media Queries */
/*! 1200px */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

/*! 991px */
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .service {
    padding-bottom: 7rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  footer {
    padding: 2srem 3%;
  }
}

/*! 768px */
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem 3;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .service h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about {
    flex-direction: column-reverse;
  }
}

/*! 617px */
@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

/*! 450px */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
}

/*! 365px */
@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }
  .about-img img {
    width: 90vw;
  }
  footer {
    flex-direction: column-reverse;
  }
  footer {
    text-align: center;
    margin-top: 2rem;
  }
}
